%nav#nav.mod-menu
  %ul
    %li
      = link_to "#speakers" do
        %i= icon "e000"
        %span Speakers
    %li
      = link_to "#location" do
        %i= icon "e002"
        %span Location
    %li
      = link_to "#schedule" do
        %i= icon "e001"
        %span Schedule
    %li
      = link_to "#join-aiga" do
        %i= icon "e003"
        %span Join AIGA


%section#dish.layout-intro
  .layout-constrained
    .mod-logo= image_tag "logo.png"
    .layout-dates
      %h2.mod-date February 22nd & 23rd
      %a.btn-primary.large{ href: "#", target: "_blank" } Register Now

.mod-connector

%section#speakers.mod-section.mod-speakers
  .layout-constrained
    %h1 Speakers
    %hr

    - data.speakers.each_with_index do |speaker, index|
      - unless index == 0
        %hr
      = partial "partials/speaker", locals: { speaker: speaker }

/.mod-connector
  
%section#location.mod-section.mod-location
  .layout-constrained
    %h1 Location
    %hr

    .mod-frame
      .mod-map#map-canvas

    .layout-location-meta
      .venue
        %h2 Nossi College of Art
        %p 590 Cheron Rd, Nashville, TN 37115
        %p= link_to "Get Directions", "https://maps.google.com/maps?q=Nossi+College+of+Art,+Cheron+Road,+Nashville,+TN&hl=en&sll=36.18664,-86.785245&sspn=0.773647,1.396637&t=m&z=15", target: "_blank"
      .travel
        %h4 Visiting Nashville
        %p There’s more to Nashville than country music and southern cuisine, so check out this #{link_to "nifty city guide", "http://www.designspongeonline.com/2009/10/nashville-guide.html", target: "_blank"} created by Design Sponge to plan your free time during the conference! 

    %hr

    .layout-accommodations
      %h2 Where to Stay:
      %ul.mod-accommodations
        - 4.times do
          %li
            %h5 Hampton Inn & Suites
            %p
              Nashville-Green Hills
              %br
              2324 Crestmoor Road
              %br
              Nashville, TN 37215
              %br
              %a{ href: "#", target: "_blank" } Reserve now &rarr;
              
/.mod-connector

%section#schedule.mod-section.mod-schedule
  .layout-constrained
    %h1 Schedule
    %hr
    .day-one
      %h2 Friday, February 24, 2012 
      %ul 
        %li 6:30pm - Welcoming Reception
        %li 7:30pm - Keynote presentation
      
      
-# Padding during initial development...
%div{ style: "height: 10em;" }
